<nav class="nav-menu-vertical">
    <ul>
        <li>
            <a href="/homepage">
                <img src="/lib/icons/home-icon.svg" alt="Home" />
                Головна
            </a>
        </li>
        <li>
            <a href="/doctors">
                <img src="/lib/icons/doctors-icon.svg" alt="Doctors" />
                Лікарі
            </a>
        </li>
        <li>
            <a href="/queue">
                <img src="/lib/icons/queue-icon.svg" alt="Queue" />
                Черга
            </a>
        </li>
        <li>
            <a href="/appointments">
                <img src="/lib/icons/queue-icon.svg" alt="Appointments" />
                Записи
            </a>
        </li>
        <li>
            <a href="/checkout">
                <img src="/lib/icons/checkout-icon.svg" alt="Checkout" />
                Чек-аут
            </a>
        </li>
        <li>
            <a href="/settings">
                <img src="/lib/icons/settings-icon.svg" alt="Settings" />
                Налаштування
            </a>
        </li>
    </ul>

    @if (AuthService.IsLoggedIn)
    {
        <button class="btn btn-link mt-3" @onclick="Logout">Вийти</button>
    }
</nav>

@code {
    [Inject] private AuthService AuthService { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private void Logout()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/homepage");
    }
}

